{% extends 'bbooks/basic.html' %}

{%block content%}

<div class="wrapper bgded" style="background-image:url('images/demo/backgrounds/01.png');">
   <div id="pageintro" class="hoc clear">
     <h1 id="books">Книги</h1>
     {% for bb in bbs%}
    <div>
      <h2>{{bb.title}}</h2>
        <p>{{bb.content}}</p>
        <p>Цена {{bb.price}}</p>

        <a href="{%url 'delbook' bb.id %}" class="btn btn-danger">Удалить</a>
        <a href="{%url 'upbook' bb.id %}" class="btn btn-danger">Редактировать</a>
            </div>
    {%endfor%}
    <!-- ################################################################################################ -->

    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear">
     <h1 id="authors">Авторы</h1>
     {% for at in att%}
    <div>
      <h2>{{at.name}}</h2>
        <p>{{at.bio}}</p>
        <p>Язык {{at.language}}</p>

        <a href="{%url 'delauthor' at.id %}""class="btn btn-danger">Удалить</a>
        <a href="{%url 'upauthor' at.id %}""class="btn btn-info">Редактировать</a>
            </div>
    {%endfor%}
    <!-- ################################################################################################ -->

    <!-- ################################################################################################ -->
  </div>
  </main>
</div>

{%endblock%}